//- scripts.jade

script(src='bower_components/jquery/dist/jquery.js')
script(src='https://framework-gb.cdn.gob.mx/gobmx.js')
script(src='bower_components/underscore/underscore-min.js')
script(src='bower_components/webcomponentsjs/webcomponents-lite.min.js')
block timePickerScripts
block calendarModifiedScripts
script(src='app/js/main.js')